<div>
  <button
    mat-stroked-button
    style="margin-right: 10px"
    (click)="onOpenDialog()"
  >
    Add Project
  </button>
  <mat-form-field>
    <input
      (keyup)="applyFilter($event.target.value)"
      matInput
      placeholder="search project..."
    />
  </mat-form-field>
</div>

<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource" matSort>
    <ng-container matColumnDef="projectNumber">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Number</th>
      <td mat-cell *matCellDef="let element">{{ element.projectNumber }}</td>
    </ng-container>

    <ng-container matColumnDef="projectName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
      <td mat-cell *matCellDef="let element">{{ element.projectName }}</td>
    </ng-container>

    <ng-container matColumnDef="site">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Site</th>
      <td mat-cell *matCellDef="let element">{{ element.site }}</td>
    </ng-container>

    <ng-container matColumnDef="createDate">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Date Added</th>
      <td mat-cell *matCellDef="let element">
        {{ element.createDate | date: "shortDate" }}
      </td>
    </ng-container>

    <ng-container matColumnDef="team">
      <th mat-header-cell *matHeaderCellDef>Team</th>
      <td mat-cell *matCellDef="let element">
        <!--THIS IS WHERE YOU ARE ITERATING THROUGH ARRAY OF RULES OBJECT-->
        <ng-container *ngFor="let designer of element.userProject">
          <div>{{ designer.firstName }} {{ designer.lastName }}</div>
        </ng-container>
      </td>
    </ng-container>

    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Status</th>
      <td mat-cell *matCellDef="let element">
        <span *ngIf="element.status == 'Done'" class="badge bg-success">{{
          element.status
        }}</span>
        <span
          *ngIf="element.status == 'In Progress'"
          class="badge bg-primary"
          >{{ element.status }}</span
        >
        <span *ngIf="element.status == 'Issuing'" class="badge bg-info">{{
          element.status
        }}</span>
        <span *ngIf="element.status == 'Checking'" class="badge bg-warning">{{
          element.status
        }}</span>
        <span *ngIf="element.status == 'No Status'" class="badge bg-danger">{{
          element.status
        }}</span>
      </td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef>Actions</th>
      <td mat-cell *matCellDef="let row">
        <button
          mat-stroked-button
          color="primary"
          routerLink="/projects/{{ row.projectId }}"
        >
          <span class="material-icons"> visibility </span>
        </button>
        <button
          style="margin-left: 5px"
          mat-stroked-button
          color="default"
          (click)="editProject(row)"
        >
          <span class="material-icons"> create </span>
        </button>
        <button
          style="margin-left: 5px"
          mat-stroked-button
          color="warn"
          (click)="removeProject(row)"
        >
          <span class="material-icons"> delete </span>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
  <mat-paginator
    [length]="100"
    [pageSize]="10"
    [pageSizeOptions]="[5, 10, 25, 100]"
  >
  </mat-paginator>
</div>

<!-- <hr />

<div class="row">
  <div *ngFor="let project of projects" class="col-2">
    <app-project-card [project]="project"></app-project-card>
  </div>
</div> -->
