<h2>Current Projects</h2>
<div>
  <button
    mat-flat-button
    style="margin-right: 10px; background-color: rgb(25, 138, 25); color: white"
    (click)="onOpenDialog()"
  >
    <i class="fas fa-plus"></i> Add Project
  </button>
  <mat-form-field style="width: 80%">
    <input
      (keyup)="applyFilter($event.target.value)"
      matInput
      placeholder="search project..."
    />
  </mat-form-field>
</div>

<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource" matSort>
    <ng-container matColumnDef="projectNumber">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Number</th>
      <td mat-cell *matCellDef="let element">{{ element.projectNumber }}</td>
    </ng-container>

    <ng-container matColumnDef="projectName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
      <td mat-cell *matCellDef="let element">{{ element.projectName }}</td>
    </ng-container>

    <ng-container matColumnDef="site">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Site</th>
      <td mat-cell *matCellDef="let element">{{ element.site }}</td>
    </ng-container>

    <ng-container matColumnDef="createDate">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Date Added</th>
      <td mat-cell *matCellDef="let element">
        {{ element.createDate | date: "MMM-d ''yy" }}
      </td>
    </ng-container>

    <ng-container matColumnDef="team">
      <th mat-header-cell *matHeaderCellDef>Team</th>
      <td mat-cell *matCellDef="let element">
        <!--THIS IS WHERE YOU ARE ITERATING THROUGH ARRAY OF RULES OBJECT-->
        <ng-container *ngFor="let designer of element.userProject">
          <div>{{ designer.firstName }} {{ designer.lastName }}</div>
        </ng-container>
      </td>
    </ng-container>

    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Status</th>
      <td mat-cell *matCellDef="let element">
        <span *ngIf="element.status == 'No Status'"
          ><p-tag value="No Status" severity="warning"></p-tag
        ></span>
        <span *ngIf="element.status == 'Active'"
          ><p-tag value="Active"></p-tag
        ></span>
        <span *ngIf="element.status == 'Active - Slab'"
          ><p-tag value="Active - Slab"></p-tag
        ></span>
        <span *ngIf="element.status == 'Active - BRegs'"
          ><p-tag value="Active - BRegs"></p-tag
        ></span>
        <span *ngIf="element.status == 'Active - FullSet'"
          ><p-tag value="Active - FullSet"></p-tag
        ></span>
        <span *ngIf="element.status == 'Active - Issuing'"
          ><p-tag value="Active - Issuing"></p-tag
        ></span>
        <span *ngIf="element.status == 'Checking'"
          ><p-tag value="Checking" severity="info"></p-tag
        ></span>
        <span *ngIf="element.status == 'Done'"
          ><p-tag value="Done" severity="success"></p-tag
        ></span>
        <span *ngIf="element.status == 'Done - Sent'"
          ><p-tag value="Done - Sent" severity="success"></p-tag
        ></span>
        <span *ngIf="element.status == 'Cancelled'"
          ><p-tag value="Cancelled" severity="danger"></p-tag
        ></span>
        <span *ngIf="element.status == 'On Hold'"
          ><p-tag value="On Hold" severity="danger"></p-tag
        ></span>
      </td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef>Actions</th>
      <td mat-cell *matCellDef="let row">
        <button
          mat-stroked-button
          color="primary"
          routerLink="/projects/{{ row.projectId }}"
        >
          <span class="material-icons"> visibility </span>
        </button>
        <button
          style="margin-left: 5px"
          mat-stroked-button
          color="default"
          (click)="editProject(row)"
        >
          <span class="material-icons"> create </span>
        </button>
        <button
          style="margin-left: 5px"
          mat-stroked-button
          color="warn"
          (click)="removeProject(row)"
        >
          <span class="material-icons"> delete </span>
        </button>
      </td>
    </ng-container>

    <ng-container matColumnDef="lastUpdate">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Last Update</th>
      <td mat-cell *matCellDef="let element">
        {{ element.updateDate | date: "MMM-d ''yy" }}
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
  <mat-paginator
    [length]="100"
    [pageSize]="10"
    [pageSizeOptions]="[5, 10, 25, 100]"
  >
  </mat-paginator>
</div>
