<!-- <div class="btn-group" role="group" aria-label="Basic example">
  <button type="button" class="btn btn-secondary" (click)="prevWeek()">
    <
  </button>
  <button type="button" class="btn btn-secondary" (click)="setCurrentWeek()">
    Current
  </button>
  <button type="button" class="btn btn-secondary" (click)="nextWeek()">
    >
  </button>
</div>

{{ startWeek | date: "dd MMM yyyy" }} - {{ endWeek | date: "dd MMM yyyy" }}

<table class="table table-bordered">
  <thead>
    <tr>
      <th>Project</th>
      <th scope="col" *ngFor="let item of dates">
        {{ item | date: "dd MMM yyyy" }}
      </th>
    </tr>
  </thead>
  <tbody>
    <td>Prj</td>
    <td *ngFor="let item of dates"></td>
  </tbody>
</table> -->

<p *ngFor="let item of timesheetMonths">{{ item.month }}</p>
