<div class="col-4 mx-auto">
  <form
    [formGroup]="newProjectForm"
    autocomplete="off"
    class="form-group-center"
  >
    <h1 class="text-center text-primary">Edit</h1>
    <hr />

    <div class="form-group">
      <label>Project Number</label>
      <input type="text" class="form-control" formControlName="projectNumber" />
    </div>

    <div class="form-group">
      <label>Project Name</label>
      <input type="text" class="form-control" formControlName="projectName" />
    </div>

    <div class="form-group">
      <label>Status</label>
      <select class="form-control" formControlName="status">
        <option value="No Status">No Status</option>
        <option value="Active">Active</option>
        <option value="Active - Slab">Active - Slab</option>
        <option value="Active - BRegs">Active - BRegs</option>
        <option value="Active - FullSet">Active - FullSet</option>
        <option value="Active - Issuing">Active - Issuing</option>
        <option value="Checking">Checking</option>
        <option value="Done">Done</option>
        <option value="Done - Sent">Done - Sent</option>
        <option value="Cancelled">Cancelled</option>
        <option value="On Hold">On Hold</option>
      </select>
    </div>

    <div class="form-group text-center">
      <button class="btn btn-warning" type="button" (click)="editProject()">
        Edit
      </button>
    </div>
  </form>
</div>
