<div class="starter-template">
  <h1>Home Page</h1>
  <p class="lead">
    Home page content.<br />
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel ab ratione
    totam? <br />
    Quam, doloribus? Iure iusto ratione eos, asperiores voluptas non iste
    debitis repellendus expedita amet accusamus sequi? Molestias, voluptatibus.
  </p>
  <hr />
  <p class="lead">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione, quis
    libero accusantium id, quos, totam corrupti sint harum soluta amet autem
    aperiam error itaque sed placeat temporibus quasi dolorum dicta. lorem
  </p>
</div>
