table {
  width: 100%;
}

th.mat-header-cell,
td.mat-cell {
  text-align: center !important;
}

::ng-deep .mat-sort-header-container {
  display: flex;
  justify-content: center;
}

h2 {
  text-align: center;
  border-bottom: 1px solid black;
  border-radius: 10px;
}
