<input type="checkbox" id="check" checked />
<!-- header area start -->
<header>
  <label for="check">
    <i class="fas fa-expand" id="sidebar-btn" style="margin-left: 2px"></i>
  </label>
  <div class="left-area">
    <h3>| Employee <span>Platform</span></h3>
  </div>
  <div class="right-area">
    <p>Welcome, Joe Doe</p>
  </div>
</header>
<!-- header area end -->
<!-- sidebar area start -->
<div class="sidebar">
  <a routerLink="/"><i class="fas fa-home"></i><span>Home</span></a>
  <a routerLink="/projects"
    ><i class="fas fa-tasks"></i><span>Projects</span></a
  >
  <a routerLink="/my-projects"
    ><i class="fas fa-paper-plane"></i><span>My Projects</span></a
  >
  <a routerLink="/users"><i class="fas fa-users"></i><span>Users</span></a>
  <a *appHasRole="['Admin']" routerLink="/admin"
    ><i class="fas fa-user-shield"></i><span>Admin Panel</span></a
  >
  <a routerLink="/user/edit" id="user-account"
    ><i class="fas fa-id-card"></i><span>My Profile</span></a
  >
  <a id="logout" (click)="logout()"
    ><i class="fas fa-sign-out-alt"></i><span>Logout</span></a
  >
</div>
<!-- sidebar area end -->

<div class="content">
  <router-outlet></router-outlet>
</div>
