<h3>All Users</h3>
<div class="card-group">
  <div class="card" *ngFor="let user of users">
    <div class="card-body">
      <h5 class="card-title">{{ user.firstName }} {{ user.lastName }}</h5>
      <p class="text-secondary mb-1">Job Title</p>
      <p class="card-text"><i class="fas fa-at"></i> {{ user.email }}</p>
      <p class="card-text"><i class="fas fa-phone"></i> {{ user.phone }}</p>
    </div>
    <div class="card-footer">
      <small class="text-muted">{{ user.department }}</small>
    </div>
  </div>
</div>
